table.dataTable tr, table.dataTable td, table.dataTable th {
	padding: 7px 7px !important;
	margin: 0 !important;
	font-size: 14px;
}


.dropdown-panel .form-group {
	width: 100px;
	padding: 0 5px;
}

